.site-header {
	@include clearfix;
	margin: 0 auto;

	@media only screen and (max-width: 599px) {

		&::after {
			background: linear-gradient($white 0%, rgba($white, 0));
			background: transparent;
			content: "";
			display: none;
			height: 40px;
			left: 0;
			pointer-events: none;
			position: fixed;
			right: 0;
			top: 100px;
			width: 100%;
			z-index: 99999999;
		}
	}

	.container {
		min-height: 60px;

		li {
			margin-bottom: 0px;
		}
	}

	.site-logo {

		&.no-border-radius img {
			border-radius: 0;
		}

		img {
			transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1), box-shadow 300ms cubic-bezier(0.694, 0.0482, 0.335, 1), border-radius 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);

			.changing & {
				transition: 0;
			}

			.font-size--large & {
				transform: scale(1.1);
			}

			.font-size--larger & {
				transform: scale(1.15);
			}

			.font-size--largest & {
				transform: scale(1.2);
			}
		}

		@include hover {

			&:not(.no-animation):hover img {
				transform: scale(1.075);
			}

			.font-size--large &:not(.no-animation):hover img {
				transform: scale(1.175);
			}

			.font-size--larger &:not(.no-animation):hover img {
				transform: scale(1.275);
			}

			.font-size--largest &:not(.no-animation):hover img {
				transform: scale(1.375);
			}
		}
	}

	.sep {
		border-left: 1px solid rgba(0, 0, 0, 0.15);
		display: inline-block;
		height: 24px;
		margin-left: 15px;
		margin-right: 15px;
		position: relative;
		transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1);

		@media only screen and (max-width: 374px) {
			display: none;
		}

		.font-size--large & {
			padding-left: 4px;
			margin-left: 20px;
		}

		.font-size--larger & {
			padding-left: 6px;
			margin-left: 22px;
		}

		.font-size--largest & {
			padding-left: 8px;
			margin-left: 24px;
		}
	}

	.site-branding-text {
		margin-top: 12px;

		@media only screen and (max-width: 599px) {
			display: none;
		}
	}

	.site-description {
		@include font-size(18px);
		line-height: 1;
		margin-bottom: 0;
	}

	.nav {

		div {
			display: inline-block;
		}

		li {
			position: relative;
			text-align: right;
			line-height: 1;

			@media only screen and (min-width: 600px) {
				display: inline-block;
				text-align: left;
			}

			a {
				display: inline-block;
				transition: opacity 100ms cubic-bezier(0.645, 0.045, 0.355, 1);

				@media only screen and (min-width: 600px) {
					padding: 0.25em 0.6em;
					@include font-size(18px);
				}

				@media only screen and (min-width: 600px) and (max-width: 700px) {
					@include font-size(16px);
					padding: 0.25em 0.4em;
				}

				@include hover {

					&:hover {
						opacity: 0.7;
					}
				}

				.changing & {
					transition: 0;
				}
			}

			&.current_page_item > a {
				opacity: 0.7;
			}

			&.current_page_item .icon {
				opacity: 0.7;
			}
		}
	}
}
